@using Microsoft.AspNetCore.Identity;
@model Coach
@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = "Thêm Xe Mới";
}



<h4>Thêm mới xe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CoachNo" class="control-label"> Biển số xe:</label>
                <input asp-for="CoachNo" class="form-control" />
                <span asp-validation-for="CoachNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Mã tài xế phụ trách:</label>
                <select asp-for="UserId" class="form-control">
                    @foreach (var user in await userManager.GetUsersInRoleAsync("Driver"))
                    {
                        <option value="@user.Id">@user.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Supplier" class="control-label">Tên nhà cung cấp:</label>
                <input asp-for="Supplier" class="form-control" />
                <span asp-validation-for="Supplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"> Số lượng khách chở tối đa:</label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Mô tả xe:</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-info">Trở Về</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
