@using Microsoft.AspNetCore.Identity
@model ApplicationUser
@{
    ViewData["Title"] = "Tạo Khách Hành Mới";
}

<h4>Tạo Khách Hành Mới</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" onsubmit="return validateCustomerForm()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Username/Email</label>
                <input asp-for="Email" id="emailInput" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <span class="error" id="EmailError" style="color: red; display: none;">Nhập dữ liệu</span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordHash" class="control-label">Mật khẩu</label>
                <input asp-for="PasswordHash" id="passwordinput" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
                <span class="error" id="PasswordError" style="color: red; display: none;">Nhập dữ liệu</span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                <input asp-for="PhoneNumber" id="phoneNumberInput" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                <span class="error" id="PhoneNumberError" style="color: red; display: none;">Nhập dữ liệu</span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label">Ngày sinh</label>
                <input asp-for="DateOfBirth" class="form-control" type="date" id="dob" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                <span class="error" id="DobError" style="color: red; display: none;">Nhập dữ liệu</span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên khách hàng</label>
                <input asp-for="Name" class="form-control" id="nameInput" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <span class="error" id="NameError" style="color: red; display: none;">Nhập dữ liệu</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" id="submitButton" /> |
                <a asp-action="Index" class="btn btn-info">Trở Về</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        function validateCustomerForm() {
            var emailInput = document.getElementById('emailInput');
            var passwordinput = document.getElementById('passwordinput');
            var phoneNumberInput = document.getElementById('phoneNumberInput');
            var dob = document.getElementById('dob');
            var nameInput = document.getElementById('nameInput');

            var EmailError = document.getElementById('EmailError');
            var PasswordError = document.getElementById('PasswordError');
            var PhoneNumberError = document.getElementById('PhoneNumberError');
            var DobError = document.getElementById('DobError');
            var NameError = document.getElementById('NameError');

            if (emailInput.value === '') {
                event.preventDefault();
                EmailError.style.display = 'block';
                return false;
            } else {
                EmailError.style.display = 'none';
            }

            if (passwordinput.value === '') {
                event.preventDefault();
                PasswordError.style.display = 'block';
                return false;
            } else {
                PasswordError.style.display = 'none';
            }

            if (phoneNumberInput.value === '') {
                event.preventDefault();
                PhoneNumberError.style.display = 'block';
                return false;
            } else {
                PhoneNumberError.style.display = 'none';
            }

            if (dob.value === '') {
                event.preventDefault();
                DobError.style.display = 'block';
                return false;
            } else {
                DobError.style.display = 'none';
            }

            if (nameInput.value === '') {
                event.preventDefault();
                NameError.style.display = 'block';
                return false;
            } else {
                NameError.style.display = 'none';
            }

            return true;
        }

    </script>


    <script>
        var emailInput = document.getElementById('emailInput');
        var emailValidation = document.querySelector("#emailInput + .text-danger");
        var submitButton = document.getElementById('submitButton');

        emailInput.addEventListener('input', function () {
            var email = emailInput.value;
            var isValidEmail = validateEmail(email);
            if (!isValidEmail) emailValidation.textContent = "Email không hợp lệ.";
            else {
                emailValidation.textContent = ""; // Xóa nội dung của thông báo khi email hợp lệ được nhập vào
                submitButton.disabled = false;
            }
            submitButton.disabled = !isValidEmail;
        });

        function validateEmail(email) {
            var emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
            return emailRegex.test(email);
        }
    </script>
    <script>
        var phoneNumberInput = document.getElementById('phoneNumberInput');
        var submitButton = document.getElementById('submitButton');
        var phoneNumberError = document.querySelector("#phoneNumberInput + .text-danger");

        phoneNumberInput.addEventListener('input', function () {
            var phoneNumber = phoneNumberInput.value;
            var isValidPhoneNumber = validatePhoneNumber(phoneNumber);

            submitButton.disabled = !isValidPhoneNumber;

            // Hiển thị hoặc ẩn thông báo lỗi
            if (!isValidPhoneNumber) {
                phoneNumberError.textContent = "Số điện thoại không hợp lệ.";
            } else {
                phoneNumberError.textContent = ""; // Xóa thông báo lỗi nếu số điện thoại hợp lệ
            }
        });

        function validatePhoneNumber(phoneNumber) {
            var phoneNumberRegex = /^0\d{9}$/; // Kiểm tra số điện thoại có 10 chữ số và bắt đầu bằng số 0
            return phoneNumberRegex.test(phoneNumber);
        }
    </script>
    <script>
        var passwordInput = document.getElementById('passwordinput');
        var submitButton = document.getElementById('submitButton');
        passwordInput.addEventListener('input', function () {
            var password = passwordInput.value;

            // Định nghĩa biểu thức chính quy để kiểm tra mật khẩu
            var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9]).{6,}$/;

            // Kiểm tra mật khẩu với biểu thức chính quy
            var isValid = regex.test(password);
            submitButton.disabled = !isValid;
            // Hiển thị thông báo lỗi nếu mật khẩu không hợp lệ
            var errorElement = document.querySelector("#passwordinput + .text-danger");
            if (!isValid)
                errorElement.textContent = "Mật khẩu phải có ít nhất 6 kí tự và bao gồm ít nhất 1 chữ hoa, 1 chữ thường và 1 kí tự không phải chữ và số.";
            else errorElement.textContent = '';
        });
    </script>
    <script>
        var submitButton = document.getElementById('submitButton');
        var isEmailExists = @ViewData["ErrorCode"].ToString(); // Bọc giá trị trong dấu nháy đơn hoặc nháy kép
        var emailValidation = document.querySelector("#emailInput + .text-danger");

        // Nếu địa chỉ email đã tồn tại, hiển thị thông báo cảnh báo
        if (isEmailExists == '0') {
            emailValidation.textContent = "Email đã tồn tại";
            submitButton.disabled = true;
        }
        else {
            emailValidation.textContent = "";
            submitButton.disabled = false;
        }
    </script>
}
