@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">
        Welcome
        <span class="fa-solid fa-bus"></span>
    </h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
