@model Route

@{
    ViewData["Title"] = "Sửa Chuyến Xe";
}

<h1>Sửa Chuyến Xe</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RouteId" />
            <div class="form-group">
                <label asp-for="CoachId" class="control-label">Biển số xe</label>
                <select asp-for="CoachId" class="form-control" asp-items="ViewBag.CoachNo"></select>
                <span asp-validation-for="CoachId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId1" class="control-label">Điểm Đi</label>
                <select asp-for="LocationId1" class="form-control" asp-items="ViewBag.LocationName1"></select>
                <span asp-validation-for="LocationId1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId2" class="control-label">Điểm Đến</label>
                <select asp-for="LocationId2" class="form-control" asp-items="ViewBag.LocationName2"></select>
                <span asp-validation-for="LocationId2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Ngày Khởi Hành</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Ngày Đến</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Giá Vé</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-info">Trở Về</a>
            </div>           
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
