@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Truy cập không hợp lệ";
}

<div style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items:center;">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bạn không có quyền truy cập vào trang này</p>
</div>
