@model Location

@{
    ViewData["Title"] = "Tạo Địa Điểm";
}

<h1>Tạo Địa Điểm Mới</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" onsubmit="return validateLocationForm(event)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocationName" class="control-label">Tên Địa Điểm</label>
                <input asp-for="LocationName" class="form-control" id="LocationNameInput" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
                <span class="error" id="locationNameError" style="color: red; display: none;">Nhập dữ liệu</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-info">Trở Về</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>

        function validateLocationForm(event) {
            var LocationNameInput = document.getElementById('LocationNameInput');
            var locationNameError = document.getElementById('locationNameError');

            if (LocationNameInput.value === '') {
                event.preventDefault();
                locationNameError.style.display = 'block';
                return false;
            } else {
                locationNameError.style.display = 'none';
            }
        }
    </script>
}
