@model PickLocation

@{
    ViewData["Title"] = "Chi Tiết Điểm Đón";
}

<h1>Chi Tiết Điểm Đón</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên Địa Điểm
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>
        <dt class = "col-sm-2">
            Điểm Đón
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickLocationName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PickLocationId" class="btn btn-primary">Sửa</a> |
    <a asp-action="Index" class="btn btn-info">Trở Về</a>
</div>
