@model PickLocation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PickLocation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickLocationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickLocationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PickLocationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
