@model IEnumerable<PickLocation>

@{
    ViewData["Title"] = "Điểm Đón";
}

<h1>Điểm Đón</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Tên Thành Phố
            </th>
            <th>
                Điểm Đón
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PickLocationName)
            </td>
            
        </tr>
}
    </tbody>
</table>
