/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
*/

html .body {
    margin: 0;
    display: flex;
    flex-direction: column;

    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    min-height: 100vh;
}

.main-container{
    display: flex;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    white-space: nowrap;
    line-height: 60px;
}

body {
    background: #eee;
}

/*#side_nav {
    background: linear-gradient(360deg, rgba(142,45,226,1) 32%, rgba(74,0,224,1) 100%);
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    min-height: 100vh;
    border-right: 1px solid white;
}

.content {
    min-height: 100vh;
    width: 100%;
}

hr.h-color {
    background: #eee;
}

.sidebar li.active {
    background: #eee;
    border-radius: 8px;
}

    .sidebar li.active a, .sidebar li.active a:hover {
        color: black;
    }


.sidebar li a {
    color: #fff;
}*/


@media(max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: absolute;
        min-height: 100vh;
        z-index: 1;
    }

    #side_nav.active {
        margin-left: 0;
    }
}