@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - FastGuard</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/FastGuard.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true" />
	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- Tempusdominus Bootstrap 4 -->
	<link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
	<!-- iCheck -->
	<link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
	<!-- JQVMap -->
	<link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
	<!-- Theme style file nay lam loi font -->
	<link rel="stylesheet" href="~/dist/css/adminlte.min.css">
	<!-- overlayScrollbars -->
	<link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
	<!-- Daterange picker -->
	<link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
	<!-- summernote -->
	<link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css"> 


	<style>
		.sidebar h1{
			cursor: pointer;
			user-select: none;
		}
		header {
			background: radial-gradient(circle, rgba(142,45,226,1) 32%, rgba(74,0,224,1) 100%);
			width: 100%;
			height: 50px;
			display: flex;
			justify-content: space-between;
			margin-top: 0;
			font-size: 17px;
			align-items: center;
		}
		/* body
		{
			background-image: linear-gradient( 109.6deg, rgba(177,173,219,1) 11.2%, rgba(245,226,226,1) 91.1% );
		} */
		.sidebar {
			background: linear-gradient(360deg, rgba(142,45,226,1) 32%, rgba(74,0,224,1) 100%);
			min-width: 250px;
			max-width: 250px;
			transition: all 0.3s;
			border-right: 1px solid white;
		}

		.content {
			min-height: 100vh;
			width: 100%;
		}

		hr.h-color {
			background: #eee;
		}

		.sidebar li a {
			color: white;
		}
		.sidebar li:hover {
			/* background-color: #cccccc; */
			background-color: #7733ff;
			border-radius: 8px;
		}
		.sidebar li a:hover {
			color: #e6e6e6;
			font-size: 17px;
		}
	</style>
</head>
<body>
	<div style="display: flex; height: 100%;">		
		<div class="sidebar" id="side_nav">
			<div class="open-btn header-box px-2 pt-2 pb-4 d-flex justify-content-between" style="align-items: center;">
				<h1 class="fs-4">
					<span style="color: white" class="fa-solid fa-bus"></span> <span class="text-white">FastGuard</span>
				</h1>
				<button class="btn  pb-1 py-0 text-white" style="font-size: 20px;">
					<i class="fa-solid fa-bars"></i>
				</button>							
			</div>

			<ul class="list-unstyled px-2" style="height: 100%;">
				@if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin"))){
					<li class="">
						<a asp-area="" asp-controller="AppRoles" asp-action="Index" class="text-decoration-none px-3 py-2 d-block">
							<i class="fa-solid fa-person-circle-plus"></i>
							Quản lí Role
						</a>
					</li>
				}
				@if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Employee")))
				{
					<li class="">
						<a asp-area="" asp-controller="Home" asp-action="Index" class="text-decoration-none px-3 py-2 d-block">
							<i class="fa-solid fa-gauge NOLUNGTUNG"></i> Dashboard
						</a>
					</li>
					@if ((User.IsInRole("Admin")))
					{
						<li class="">
							<a asp-area="" asp-controller="Employee" asp-action="Index" class="text-decoration-none px-3 py-2 d-block">
								<i class="fa-solid fa-user-tie"></i>
								Nhân viên
							</a>
						</li>
						<li class="">
							<a asp-area="" asp-controller="Driver" asp-action="Index" class="text-decoration-none px-3 py-2 d-block">
								<i class="fa-solid fa-road"></i>
								Tài xế
							</a>
						</li>
					}
					<li class="">
						<a asp-area="" asp-controller="Customers" asp-action="Index" class="text-decoration-none px-3 py-2 d-block">
							<i class="fa-solid fa-user"></i>
							Khách hàng
						</a>
					</li>					
					<li class="">
						<a asp-area="" asp-controller="Coaches" asp-action="Index" class="text-decoration-none px-3 py-2 d-block">
							<i class="fa-solid fa-van-shuttle"></i>
							Xe
						</a>
					</li>
					<li class="">
						<a asp-area="" asp-controller="Locations" asp-action="Index" class="text-decoration-none px-3 py-2 d-block">
							<i class="fa-solid fa-map-location-dot"></i>
							Địa điểm
						</a>
					</li>
					<li class="">
						<a asp-area="" asp-controller="PickLocations" asp-action="Index" class="text-decoration-none px-3 py-2 d-block">
							<i class="fa-solid fa-location-dot"></i>
							Điểm đón
						</a>
					</li>
					<li class="">
						<a asp-area="" asp-controller="Routes" asp-action="Index" class="text-decoration-none px-3 py-2 d-block">
							<i class="fa-solid fa-route"></i>
							Tuyến xe
						</a>
					</li>
				}
				<li class="">
					<a asp-area="" asp-controller="Tickets" asp-action="SearchTicket" class="text-decoration-none px-3 py-2 d-block">
						<i class="fa fa-ticket"></i>
						Đặt vé xe
					</a>
				</li>
				@if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Employee") || User.IsInRole("Customer")))
				{					
					<li class="">
						<a asp-area="" asp-controller="Tickets" asp-action="BookedTicket" class="text-decoration-none px-3 py-2 d-block">
							<i class="fa-solid fa-clock-rotate-left"></i>
							Vé đã đặt
						</a>
					</li>
				}				
			</ul>
		</div>
		<div class="content">
			<header>
				<button class="btn close-btn px-1 py-0 text-white" style="visibility: hidden; margin-left: 5px; font-size: 20px; font-weight: bold;">
					<i class="fa-solid fa-bus"></i>
					FastGuard
					<i class="fa-solid fa-bars" style="margin-left: 30px;"></i>
				</button>
				<partial name="_LoginPartial" />
			</header>
			<div class="container">
				<main role="main" class="pb-3">
					@RenderBody()
				</main>
			</div>			
		</div>
		<footer class="border-top footer text-muted">
			<div class="container">
				&copy; 2023 - FastGuard
			</div>
		</footer>
	</div>

	
	
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script>
		function toggleSidebar() {
			
		}
		$(".sidebar ul li").on('click', function () {
			$(".sidebar ul li.active").removeClass('active');
			$(this).addClass('active');
		});

		$('.open-btn').on('click', function () {
			$('.sidebar').addClass('active');
			$('.close-btn').css('visibility', 'visible');
		});


		$('.close-btn').on('click', function () {
			$('.sidebar').removeClass('active');
			$('.close-btn').css('visibility', 'hidden');
		})
		
	</script>
	@await RenderSectionAsync("Scripts", required: false)

	<!-- jQuery -->
	<script src="~/plugins/jquery/jquery.min.js"></script>
	<!-- jQuery UI 1.11.4 -->
	<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
		$.widget.bridge('uibutton', $.ui.button)
	</script>
	<!-- Bootstrap 4 -->
	<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- ChartJS -->
	<script src="~/plugins/chart.js/Chart.min.js"></script>
	<!-- Sparkline -->
	<script src="~/plugins/sparklines/sparkline.js"></script>
	<!-- JQVMap -->
	<script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
	<script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
	<!-- jQuery Knob Chart -->
	<script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
	<!-- daterangepicker -->
	<script src="~/plugins/moment/moment.min.js"></script>
	<script src="~/plugins/daterangepicker/daterangepicker.js"></script>
	<!-- Tempusdominus Bootstrap 4 -->
	<script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
	<!-- Summernote -->
	<script src="~/plugins/summernote/summernote-bs4.min.js"></script>
	<!-- overlayScrollbars -->
	<script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
	<!-- AdminLTE App -->
	<script src="~/dist/js/adminlte.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="~/dist/js/demo.js"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<script src="~/dist/js/pages/dashboard.js"></script>
</body>
</html>
