<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt xe</title>
    <link href="HomePage.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kaushan+Script&family=Montserrat:wght@300&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.chieu').change(function () {
                console.log("chieu thay doi");
                var isSelected = $('#2chieu').is(':checked');
                console.log(isSelected);
                if (isSelected)
                    $('#ngayve').css('display', 'block');
                else
                    $('#ngayve').css('display', 'none');
            })
            $('.navbar ul li').mouseenter(function () {
                $(this).find('.line').css('visibility', 'visible');
            }).mouseleave(function () {
                if (!$(this).find('a').hasClass('active'))
                    $(this).find('.line').css('visibility', 'hidden');
            });
        })

    </script>
</head>

<body>
    <header>
        <div style="display: flex; align-items: center; justify-content: space-between; margin: 10px 100px;">
            <div style="display: flex; align-items: center;">
                <span class="fa-solid fa-bus appLogo" style="color: black; font-size: 50px;"></span>
                <h1 style="padding-left: 10px;">FastGuard</h1>
            </div>
            <div class="SignInUp">
                <i class="fa-solid fa-circle-user"></i>
                <button class="btnSignInUp">Đăng nhập/Đăng ký</button>
            </div>
        </div>
        <div class="navbar">
            <ul>
                <li>
                    <a class="active" href="#home">Trang chủ</a>
                    <hr class="line">
                </li>
                <li><a href="#">Lịch trình</a>
                    <hr class="line">
                </li>
                <li><a href="#">Tra cứu vé</a>
                    <hr class="line">
                </li>
                <li><a href="#">Tin tức</a>
                    <hr class="line">
                </li>
                <li><a href="#">Hóa đơn</a>
                    <hr class="line">
                </li>
                <li><a href="#">Liên hệ</a>
                    <hr class="line">
                </li>
                <li><a href="#">Về chúng tôi</a>
                    <hr class="line">
                </li>
            </ul>
        </div>
    </header>
    <form>
        <div
            style="display: flex; justify-content: space-between; margin-top: 20px; color: #29b4d6; font-weight: bold; ">
            <div style="margin-left: 20px; display: flex;">
                <div class="radio-container">
                    <input type="radio" name="chieu" class="chieu" id="1chieu" checked>
                    <label for="1chieu" class="custom-radio">
                        <span class="inner-circle"></span>
                    </label>
                    <span>Một chiều</span>
                </div>
                <div class="radio-container">
                    <input type="radio" name="chieu" class="chieu" id="2chieu">
                    <label for="2chieu" class="custom-radio">
                        <span class="inner-circle"></span>
                    </label>
                    <span>Khứ hồi</span>
                </div>
            </div>
            <div style="margin-right: 20px;">
                Hướng dẫn mua vé
            </div>
        </div>
        <div class="searchContainer">
            <div class="chonThongTin">
                <h4>Điểm đi</h4>
                <select name="diemdi" id="diemdi">
                    <option value="t0">
                        Chọn điểm đi
                    </option>
                    <option value="t1">Hà Nội</option>
                    <option value="t2">Sapa</option>
                    <option value="t3">Đà Nẵng</option>
                    <option value="t4">Buôn Mê Thuộc</option>
                    <option value="t5">TP.HCM</option>
                    <option value="t6">Cà Mau</option>
                </select>
            </div>
            <div class="chonThongTin">
                <h4>Điểm đến</h4>
                <select name="diemden" id="diemden">
                    <option value="t0">
                        Chọn điểm đến
                    </option>
                    <option value="t1">Hà Nội</option>
                    <option value="t2">Sapa</option>
                    <option value="t3">Đà Nẵng</option>
                    <option value="t4">Buôn Mê Thuộc</option>
                    <option value="t5">TP.HCM</option>
                    <option value="t6">Cà Mau</option>
                </select>
            </div>
            <div class="chonThongTin">
                <h4>Ngày đi</h4>
                <input type="date" class="selectDate">
            </div>
            <div class="chonThongTin" style="display: none;" id="ngayve">
                <h4>Ngày về</h4>
                <input type="date" class="selectDate">
            </div>
            <div class="chonThongTin">
                <h4>Số vé</h4>
                <input type="number" placeholder="0">
            </div>
        </div>
        <div style="width: 100%; align-items: center; display: flex; justify-content: center; margin: 15px 0px;">
            <button class="btnTimChuyen">Tìm chuyến xe</button>
        </div>
    </form>

    <div class="cactuyen">
        <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
            <h2 style="margin-bottom: 5px; color: green; font-weight: bolder;   ">TUYẾN PHỔ BIẾN</h2>
            <h3 style="margin-top: 5px;">Được khách hàng tin tưởng lựa chọn</h3>
        </div>
        <div style="display: flex; row-gap: 10px; justify-content: center; gap: 30px">
            <div class="tuyenCard">
                <div style="color: white; position: relative; padding: 0;">
                    <img src="../../Components/city.jpg" alt="">
                    <div class="imgText">
                        <h5 style="margin-bottom: 3px;">Tuyến xe từ</h5>
                        <h4 style="margin-top: 3px;">TP.Hồ Chí Minh</h4>
                    </div>
                </div>
                <div class="TTtuyen">
                    <div style="display: flex; justify-content: space-between; padding: 0 8px;">
                        <h3 class="green">Đà Lạt</h3>
                        <h3>280.000đ</h3>
                    </div>
                    <div style="padding: 0 8px;">
                        305km - 8 giờ - 06/11/2023
                    </div>
                </div>
                <div class="TTtuyen">
                    <div style="display: flex; justify-content: space-between; padding: 0 8px;">
                        <h3 class="green">Cần Thơ</h3>
                        <h3>280.000đ</h3>
                    </div>
                    <div style="padding: 0 8px;">
                        305km - 8 giờ - 06/11/2023
                    </div>
                </div>
                <div class="TTtuyen">
                    <div style="display: flex; justify-content: space-between; padding: 0 8px;">
                        <h3 class="green">Đà Lạt</h3>
                        <h3>280.000đ</h3>
                    </div>
                    <div style="padding: 0 8px;">
                        305km - 8 giờ - 06/11/2023
                    </div>
                </div>
            </div>
            <div class="tuyenCard">
                <div style="color: white; position: relative; padding: 0;">
                    <img src="../../Components/city.jpg" alt="">
                    <div class="imgText">
                        <h5 style="margin-bottom: 3px;">Tuyến xe từ</h5>
                        <h4 style="margin-top: 3px;">TP.Hồ Chí Minh</h4>
                    </div>
                </div>
                <div class="TTtuyen">
                    <div style="display: flex; justify-content: space-between; padding: 0 8px;">
                        <h3 class="green">Đà Lạt</h3>
                        <h3>280.000đ</h3>
                    </div>
                    <div style="padding: 0 8px;">
                        305km - 8 giờ - 06/11/2023
                    </div>
                </div>
                <div class="TTtuyen">
                    <div style="display: flex; justify-content: space-between; padding: 0 8px;">
                        <h3 class="green">Cần Thơ</h3>
                        <h3>280.000đ</h3>
                    </div>
                    <div style="padding: 0 8px;">
                        305km - 8 giờ - 06/11/2023
                    </div>
                </div>
                <div class="TTtuyen">
                    <div style="display: flex; justify-content: space-between; padding: 0 8px;">
                        <h3 class="green">Đà Lạt</h3>
                        <h3>280.000đ</h3>
                    </div>
                    <div style="padding: 0 8px;">
                        305km - 8 giờ - 06/11/2023
                    </div>
                </div>
            </div>
            <div class="tuyenCard">
                <div style="color: white; position: relative; padding: 0;">
                    <img src="../../Components/city.jpg" alt="">
                    <div class="imgText">
                        <h5 style="margin-bottom: 3px;">Tuyến xe từ</h5>
                        <h4 style="margin-top: 3px;">TP.Hồ Chí Minh</h4>
                    </div>
                </div>
                <div class="TTtuyen">
                    <div style="display: flex; justify-content: space-between; padding: 0 8px;">
                        <h3 class="green">Đà Lạt</h3>
                        <h3>280.000đ</h3>
                    </div>
                    <div style="padding: 0 8px;">
                        305km - 8 giờ - 06/11/2023
                    </div>
                </div>
                <div class="TTtuyen">
                    <div style="display: flex; justify-content: space-between; padding: 0 8px;">
                        <h3 class="green">Cần Thơ</h3>
                        <h3>280.000đ</h3>
                    </div>
                    <div style="padding: 0 8px;">
                        305km - 8 giờ - 06/11/2023
                    </div>
                </div>
                <div class="TTtuyen">
                    <div style="display: flex; justify-content: space-between; padding: 0 8px;">
                        <h3 class="green">Đà Lạt</h3>
                        <h3>280.000đ</h3>
                    </div>
                    <div style="padding: 0 8px;">
                        305km - 8 giờ - 06/11/2023
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="leftContainer">
            <div class="h4">TRUNG TÂM TỔNG ĐÀI & CSKH</div>
            <div style="color: #29b4d6; margin-top: 1px; font-size: large; font-weight: bold; margin-bottom: 20px;">1900
                9067</div>
            <div class="h4">CÔNG TY CỔ PHẦN XE KHÁCH PHƯƠNG TRANG - FUTA BUS LINES</div>
            <div class="h5">Địa chỉ: <span class="black">Số 01 Tô Hiến Thành, Phường 3, Thành phố Đà Lạt, Tỉnh Lâm Đồng,
                    Việt Nam.</span></div>
            <div class="h5">Email: <span style="color: #29b4d6;">hotro@futa.vn</span></div>
            <div class="h5">Số điện thoại: <span class="black">0123456789</span></div>
        </div>
        <div class="rightContainer">
            <div>
                <div class="h4">FUTA Bus Lines</div>
                <ul>
                    <li>Về chúng tôi</li>
                    <li>Lịch trình</li>
                    <li>Tuyển dụng</li>
                    <li>Tin tức & Sự kiện</li>
                    <li>Mạng lưới văn phòng</li>
                </ul>
            </div>
            <div>
                <div class="h4">Hỗ trợ</div>
                <ul>
                    <li>Về chúng tôi</li>
                    <li>Lịch trình</li>
                    <li>Tuyển dụng</li>
                    <li>Tin tức & Sự kiện</li>
                    <li>Mạng lưới văn phòng</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>