@using Microsoft.AspNetCore.Identity;
@model IdentityRole

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa role này không?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên role
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Trở Về</a>
    </form>
</div>
